@model HeThongDatThucAn20.Areas.Admin.Models.OrderModels

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderModels</h4>
    <hr />
    <dl class="row">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.CustomerId)
            @Html.DisplayFor(model => model.CustomerId)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.CustomerName)
            @Html.DisplayFor(model => model.CustomerName)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.PhoneNumber)
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.PaymentId)
            @Html.DisplayFor(model => model.PaymentId)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.BranchId)
            @Html.DisplayFor(model => model.BranchId)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.ShipAddress)
            @Html.DisplayFor(model => model.ShipAddress)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.OrderDate)
            @Html.DisplayFor(model => model.OrderDate)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.ShipDate)
            @Html.DisplayFor(model => model.ShipDate)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.StatusId)
            @Html.DisplayFor(model => model.StatusId)
        </div>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" style="background-color: red; color: white; padding: 5px; text-decoration: none;" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ListOrder">Back to List</a>
    </form>
</div>
