@model HeThongDatThucAn20.Areas.Admin.Models.ProductModels

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductModels</h4>
    <hr />
    <dl class="col-md-4">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.ProductId)
            @Html.DisplayFor(model => model.ProductId) 
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.CateId)
            @Html.DisplayFor(model => model.CateId)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.ProductName)
            @Html.DisplayFor(model => model.ProductName)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.UnitPrice)
            @Html.DisplayFor(model => model.UnitPrice)
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Description)
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Status)
            @Html.DisplayFor(model => model.Status)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Quantity)
            @Html.DisplayFor(model => model.Quantity)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.UnitInStock)
            @Html.DisplayFor(model => model.UnitInStock)
        </div>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" onsubmit="return confirm('Bạn chắc chắn xóa chứ?')" style="background-color: red; color: white; padding: 5px; text-decoration: none;" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ProductList">Back to List</a>
    </form>
</div>


