@model IEnumerable<HeThongDatThucAn20.Areas.Admin.Models.ProductModels>

@{
    ViewData["Title"] = "SearchSP";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>SearchSP</h1>


<p>
    <a asp-action="Create" style="display: inline-block; background-color: blue; color: white; padding: 5px; text-decoration: none;">Create New</a>
</p>
<form asp-action="SearchSP" method="get" class="search-container" style="width: 300px;">
    <input type="text" id="searchInput" name="keyword" placeholder="Search..." style="width: 150px; padding: 10px;">
    <button type="submit" style="padding: 10px;">Search</button>
</form>
<br></br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitInStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitInStock)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.ProductId" style="display: inline-block; background-color: green; color: white; padding: 5px; text-decoration: none;">Edit</a> |
                 <a asp-action="Delete" asp-route-id="@item.ProductId" style="display: inline-block; background-color: red; color: white; padding: 5px; text-decoration: none;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
