@model IEnumerable<HeThongDatThucAn20.Data.Branch>

@{
    ViewData["Title"] = "ListBranch";
}

<h1>ListBranch</h1>
<p>
    <a asp-action="SearchByDistrict">Tìm kiếm chi nhánh</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchDistrict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchAddress)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.BranchId" style="display: inline-block; background-color: limegreen !important; color: white; padding: 5px; text-decoration: none;">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
