@model IEnumerable<HeThongDatThucAn20.Areas.Admin.Models.CategoryModels>

@{
    ViewData["Title"] = "CateList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>CateList</h1>

<p>
    <a asp-action="Create" style="display: inline-block; background-color: blue; color: white; padding: 5px; text-decoration: none;">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CateId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CateId" style="display: inline-block; background-color: green; color: white; padding: 5px; text-decoration: none;">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CateId" style="display: inline-block; background-color: red; color: white; padding: 5px; text-decoration: none;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
