@model IEnumerable<HeThongDatThucAn20.ViewModels.CartItem>
@{
    ViewData["Title"] = "CheckOut";
}
<!-- Single Page Header start -->
<body>
    <div>
        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Đặt Hàng</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Check Out</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    </div>
    <!-- Single Page Header End -->
    <!-- Checkout Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="mb-4">Thông Tin Đặt Hàng</h1>
            <form asp-action="Checkout">
                <div class="row g-5">
                    <form asp-action="Checkout" asp-controller="Cart">
                        <div class="col-md-12 col-lg-6 col-xl-7">
                            <div class="form-check my-3">
                                <input type="checkbox" class="form-check-input" id="GiongKhachHang" name="GiongKhachHang" value="false">
                                <label class="form-check-label" for="Account-1">Giống thông tin khách hàng?</label>
                            </div>
                            <div class="form-item delivery-info">
                                <label class="form-label my-3">Họ Tên<sup>*</sup></label>
                                <input type="text" name="HoTen" class="form-control">
                            </div>
                            <div class="form-item delivery-info">
                                <label class="form-label my-3">Địa Chỉ <sup>*</sup></label>
                                <input type="text" name="DiaChi" class="form-control" placeholder="Số Nhà Tên Đường Phường Xã Thành Phố">
                            </div>
                            <div class="form-item delivery-info">
                                <label class="form-label my-3">Điện Thoại<sup>*</sup></label>
                                <input type="text" name="DienThoai" class="form-control">
                            </div>
                            <div class="form-item branch-info">
                                <label class="form-label my-3">Chi Nhánh<sup>*</sup></label>
                                @Html.DropDownList("BranchId", (SelectList)ViewBag.Branches, "Chọn chi nhánh", new { @class = "form-control" })
                            </div>
                            <div class="form-item mt-2">
                                <textarea name="GhiChu" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Ghi chú"></textarea>
                            </div>
                            <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary mt-3">Đặt Hàng</button>
                        </div>
                    </form>
                    <div class="col-md-12 col-lg-6 col-xl-5">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Tên Món</th>
                                        <th scope="col">Đơn Giá</th>
                                        <th scope="col">Số Lượng</th>
                                        <th scope="col">Thành Tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    <img src="~/Hinh/SanPham/@item.Hinh" class="img-fluid square" style="width: 65px; height: 65px;margin-top: 20px;" alt="@item.TenHH">
                                                </div>
                                            </th>
                                            <td class="py-5">@item.TenHH</td>
                                            <td class="py-5">@item.DonGia.ToString("#,##0")</td>
                                            <td class="py-5">@item.SoLuong</td>
                                            <td class="py-5">@($"{item.ThanhTien.ToString("#,##0")}₫")</td>
                                        </tr>
                                    }
                                    <tr>
                                        <th scope="row">
                                        </th>
                                        <td class="py-5"></td>
                                        <td class="py-5"></td>
                                        <td class="py-5">
                                            <p class="mb-0 text-dark py-3">Tổng Tạm Tính</p>
                                        </td>
                                        <td class="py-5">
                                            <div class="py-3 border-bottom border-top">
                                                <p class="mb-0 text-dark">@($"{Model.Sum(p => p.ThanhTien).ToString("#,##0")}₫")</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                        </th>
                                        <td class="py-5">
                                            <p class="mb-0 text-dark py-4">Phí Vận Chuyển</p>
                                        </td>
                                        <td colspan="3" class="py-5">
                                            <div class="form-check text-start">
                                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1" name="Shipping-1" value="Shipping">
                                                <label class="form-check-label" for="Shipping-1">Free Shipping</label>
                                            </div>
                                            <div class="form-check text-start">
                                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2" name="Shipping-1" value="Shipping">
                                                <label class="form-check-label" for="Shipping-2">Local Pickup: $8.00</label>
                                            </div>
                                            <div class="form-check text-start">
                                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="Shipping-1" value="Shipping">
                                                <label class="form-check-label" for="Shipping-3">Local Pickup: $8.00</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                        </th>
                                        <td class="py-5">
                                            <p class="mb-0 text-dark text-uppercase py-3">TỔNG ĐƠN HÀNG</p>
                                        </td>
                                        <td class="py-5"></td>
                                        <td class="py-5"></td>
                                        <td class="py-5">
                                            <div class="py-3 border-bottom border-top">
                                                <p class="mb-0 text-dark">@($"{Model.Sum(p => p.ThanhTien).ToString("#,##0")}₫")</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                            <div class="col-12">
                                <div class="form-check text-start my-3">
                                    <input type="checkbox" class="form-check-input bg-primary border-0" id="COD" name="COD" value="Payments" checked>
                                    <label class="form-check-label" for="Transfer-1">Thanh Toán Trực Tiếp</label>
                                </div>
                                @*                             <p class="text-start text-dark">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                                *@
                            </div>
                        </div>
                        @* <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                        <div class="form-check text-start my-3">
                        <input type="checkbox" class="form-check-input bg-primary border-0" id="Payments-1" name="Payments" value="Payments">
                        <label class="form-check-label" for="Payments-1">Check Payments</label>
                        </div>
                        </div>
                        </div>
                        <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                        <div class="form-check text-start my-3">
                        <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery" value="Delivery">
                        <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                        </div>
                        </div>
                        </div>
                        <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                        <div class="form-check text-start my-3">
                        <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1" name="Paypal" value="Paypal">
                        <label class="form-check-label" for="Paypal-1">Paypal</label>
                        </div>
                        </div>
                        </div> *@
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Checkout Page End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a href="#">
                            <h1 class="text-primary mb-0">Fruitables</h1>
                            <p class="text-secondary mb-0">Fresh products</p>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mx-auto">
                            <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                            <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex justify-content-end pt-3">
                            <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Why People Like us!</h4>
                        <p class="mb-4">
                            typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.
                        </p>
                        <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Shop Info</h4>
                        <a class="btn-link" href="">About Us</a>
                        <a class="btn-link" href="">Contact Us</a>
                        <a class="btn-link" href="">Privacy Policy</a>
                        <a class="btn-link" href="">Terms & Condition</a>
                        <a class="btn-link" href="">Return Policy</a>
                        <a class="btn-link" href="">FAQs & Help</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Account</h4>
                        <a class="btn-link" href="">My Account</a>
                        <a class="btn-link" href="">Shop details</a>
                        <a class="btn-link" href="">Shopping Cart</a>
                        <a class="btn-link" href="">Wishlist</a>
                        <a class="btn-link" href="">Order History</a>
                        <a class="btn-link" href="">International Orders</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Contact</h4>
                        <p>Address: 1429 Netus Rd, NY 48247</p>
                        <p>Email: Example@gmail.com</p>
                        <p>Phone: +0123 4567 8910</p>
                        <p>Payment Accepted</p>
                        <img src="img/payment.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    @section Scripts {
        <script src="~/js/main.js"></script>
        <script>
            $(document).ready(function () {
                $("#GiongKhachHang").change(function () {
                    if ($(this).prop("checked")) {
                        $(this).val(true);
                        $(".delivery-info").addClass("d-none");
                        $(".branch-info").removeClass("d-none");
                    } else {
                        $(this).val(false);
                        $(".delivery-info").removeClass("d-none");
                    }
                });
            });
        </script>
    }
</body>
